RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?gbadmin.localhost$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?gbadmin.localhost$
RewriteRule ^(/)?$ /public/ [L]
